/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

/* Custom properties */
:root {
    /* Colors */
    --clr-wenge-brown: hsl(30, 10%, 34%);
    --clr-dark-charcoal: hsl(24, 5%, 18%);
    --clr-rose-white: hsl(330, 100%, 98%);
    --clr-dark-raspberry: hsl(332, 51%, 32%);
    --clr-nutmeg: hsl(14, 45%, 36%);
    --clr-light-grey: hsl(30, 18%, 87%);
    --clr-eggshell: hsl(30, 54%, 90%);
    --clr-white: hsl(0, 0%, 100%);

    /* Font families */
    --ff-title: "Young Serif", serif;
    --ff-body: "Outfit", sans-serif;

    /* Font sizes */
    --fs-body: 16px;
    --fs-recipe-title: 2.25rem;
    --fs-title: 1.75rem;
}

/* General Styling */
html {
    font-size: var(--fs-body);
}

body {
    font-family: var(--ff-body);
    color: var(--clr-wenge-brown);
    line-height: 1.5;
    background-color: var(--clr-eggshell);
}

main {
    max-width: 736px;
    margin-inline: auto;
    background-color: var(--clr-white);
}

/* Utility classes */
ul.recipe__list {
    list-style-type: "•";
    margin: calc(0.5rem + 5px);
    margin-bottom: 0;
}

ol.recipe__list {
    margin: calc(0.5rem + 17px);
    margin-bottom: 0;
}

ul.recipe__list .recipe__list__item {
    margin-block: .5rem;
    padding-left: calc(2rem - 5px);
}

ul.recipe__list .recipe__list__item:last-child {
    margin: 0;
}

ol.recipe__list .recipe__list__item {
    margin-block: .5rem;
    padding-left: calc(2rem - 17px);
}

ol.recipe__list .recipe__list__item:last-child {
    margin: 0;
}

.recipe__list__item::marker {
    font-weight: 700;
    color: var(--clr-nutmeg);
}

.recipe__list__item span {
    font-weight: 700;
}

.section__title {
    font-family: var(--ff-title);
    font-size: var(--fs-title);
    color: var(--clr-nutmeg);
    font-weight: 400;
    line-height: 1;
}

/* Custom Styling */

/* Header */
header {
    margin: 2.5rem 2rem 2rem;
}

.recipe__title {
    font-family: var(--ff-title);
    font-size: var(--fs-recipe-title);
    font-weight: 400;
    color: var(--clr-dark-charcoal);
    line-height: 1;
    margin-bottom: 1.375rem;
}

/* Preparation time */
.recipe__prep-time {
    margin: 2rem;
    padding: 1.5rem;
    background-color: var(--clr-rose-white);
    border-radius: 12px;
}

.recipe__prep-time__title {
    color: var(--clr-dark-raspberry);
    font-size: 1.25rem;
    line-height: 1;
}

.recipe__list__item--prep-time::marker {
    color: var(--clr-dark-raspberry);
}

/* Ingredients */
.recipe__ingredients {
    margin: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--clr-light-grey);
}

/* Instructions */
.recipe__instructions {
    margin: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--clr-light-grey);
}

/* Nutrition */
.recipe__nutrition {
    margin: 2rem;
    margin-bottom: 0;
    padding-bottom: 2rem;
}

.recipe__nutrition__info {
    padding-block: 1.5rem 0.6875rem;
}

caption {
    display: none;
}

.recipe__nutrition__table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid var(--clr-light-grey);
}

.table__label {
    width: 50%;
    padding-left: 2rem;
    line-height: 3;
}

.table__value {
    width: 50%;
    padding-right: 2rem;
    line-height: 3;
    color: var(--clr-nutmeg);
    font-weight: 700;
}

footer {
    height: 7.625rem;
}